.item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 0 10px #00000015;
  transition: 0.3s;
  animation: fadeIn 1s;
}

.item-image {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.item-info {
  padding: 20px;
}

.item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.item-name-rating p {
  font-size: 20px;
  font-weight: 500;
}

.item-name-rating img {
  width: 70px;
}

.item-description {
  color: #676767;
  font-size: 12px;
}

.item-price {
  color: tomato;
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0;
}

.item-img-container {
  position: relative;
}

.add {
  border: none;
  border-radius: 50%;
}

.add img {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 35px;
  cursor: pointer;
}

.item-counter {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 50px;
  background-color: white;
}

.item-counter button {
  border: none;
  border-radius: 50%;
}

.item-counter img {
  width: 30px;
}
